#aboutus{
   max-width: 1200px;
    text-align: left;
     padding: 0px 10px;
}

#aboutus h2{
    margin: 0;
    padding: 0;
}


.aboutus {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.aboutInfo {
  display: flex;



}

.aboutText {
  /*margin-left: 30px;*/
    padding: 10px 0px;

}
.contentBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
     min-width: 375px;
}



h2 {
  font-weight: 100;
  font-size: 23pt;
  max-width: 1024px;
  color: #737309;
  text-align: left;
}

h3 {
  text-align: left;
  margin: 0;
    font-family: "novabc", Helvetica, Arial, sans-serif;
}
h4 {
  width: 1024px;
  font-weight: 100;
}

p {
  text-align: left;
}

.textLeft {
  text-align: left;
}

.divider {
  margin: 30px 0px;
}

.advantage {
  background-color: #85933e;
  width: 40px;
  height: 40px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: 18pt;
  margin-top: 5px;
}

.singleAdvantage {
  display: flex;
}

.advantageText {
  margin-left: 15px;
}

.advantageText h5{
    font-size: 20px;
    text-align: left;
    color: #333333;
    font-weight: bold;
}

.quote{
    color: black;
    text-align: center;
}

.quote span{
    font-weight: bold;
}

.missionContainer {
    padding: 20px 0px;
    margin: 0px 20px;

}

.mission {
            display: flex;
        flex-direction: column;
        align-content: center;
    background: url('/static/img/quote2.png') top left;
    min-height: 50px;

    background-repeat: no-repeat;

}

.mission h5 {
    font-size: 12pt;
    padding: 0px 10px;
    margin-top: 10px;
    color: #669966;
     background: url('/static/img/quote2_right.png') bottom right;
      background-repeat: no-repeat;
      min-height: 50px;

}


.videoContainer {
    display: flex;
    justify-content: center;
  background-color: #c8b549;

  color: white;
  width: 100%;
    margin-bottom: 25px;
}

.videoContent {
    text-align: left;
    min-width: 450px;
    padding: 0px 20px 10px 10px;
}

.youtube {

    min-width: 335px;
    width: 100%;
    height: auto;
}

.videoContainer h5   {
    font-size: 17pt;
    text-align: left;
}

p {
    opacity: 0.8;
}

.videoConstrain{
    max-width: 1400px;
    margin: 40px 0px;
    padding: 0px 10px;

}



.chooseUsContainer{
   max-width: 1400px;

}

.schoolConstraint{
  width: 100%;
    max-width: 1800px;
  background-color: #EA9D3F;
    text-align: center;
     display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0px 10px;

}

.school {

  color: white;
  display: flex;
  justify-content:space-between;
    padding: 20px 0px;
    width:100%;
    max-width: 1200px;
      text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.schoolContainer {
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 400px;


}

.schoolContainer img {
    margin-bottom: 10px;
     height: auto;
    width: 100%;
    max-width: 350px;

}

.schoolContainer h4 {
    font-size: 15pt;
    width: 100%;
}

.caption {
    margin-top: 5px;
    opacity: 0.7;


}


