#admisionContent{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.admisionConstraint{
    max-width: 1600px;
    width: 100%;
    min-height: 100px;
    margin: 30px 30px   ;
}

.downloadsColumn{

    width: 100%;
     color: white;


    padding: 30px 20px;
    margin-bottom: 20px;
}



.downloadsColumn hr {
    margin: 5px;
    padding: 0px;
    border-color: white;
    margin-bottom: 15px;
}
.downloadsColumn a {
    color: white;

}

.downloadsColumn a:hover {
    color: white;

}

.downloadsColumn h3{
color: white;

}

.downloadsColumn h5{
   padding: 10px 0px 0px 0px;
    color: white;

}


.contentColumn{
    min-height: 200px;
}


.downloadsColumn ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
        color: white;
}

.downloadsColumn li{
    list-style: none;
    margin: 10px 0px;
    padding-left: 20px;
}


.contentColumn div{

}

.contentColumn h4{
    font-size: 22px;
}

.contentColumn h5{
    font-size: 16px;
    font-weight: bold;
}

.contentColumn p{
    font-size: 14px;


}

.contentColumn .section{

    margin-bottom: 20px;


}

ul {
    list-style: none;
}

li {
    list-style: none;
}