#blogContainter {
    display: flex;
    justify-content: center;
    text-align: left;

}

.blogConstraint {
    max-width: 1200px;
    width: 100%;
}

.blogItem {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.blogItem h2 {
    font-weight: 100;
    font-size: 18pt;
    padding: 0px 0px;
    margin-top: 20px;
}

.blogItem .smallDate {
    font-size: 11pt;
    font-weight: bold;
}

.blogItem img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blogItem div {
    font-size: 15px;
}

.recentPostHeader {
    color: #333333;
    font-size: 28px;
    padding: 20px 0px;
    width: 100%;
    font-weight: bold;
     color: #999999;
}

.recentPost {
    max-width: 250px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.recentPost img {
    width: 100%;
    height: auto;
}

.recentPost .topic {
    font-size: 18px;
    margin: 20px 0px 0px 0px;

}
.recentPost .orangeDate {
    font-size: 12px;
    color: #333333;
}