.mapHeader{
    font-size: 18px;
    margin: 0px;
}

.mapHeader h4{
    text-align: left;
    padding: 10px 20px;
    margin: 0px;
    color: white;
    font-weight: bold;

}

#contactsBody{
    width: 100%;
    min-height: 100px;
    color: white;
     text-align: left;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 40px;
}

.contactConstrainBody{
    max-width: 1400px;
    width: 100%;
}

#contactsBody .small {
  font-size: 8pt;

}

#contactsBody h3 {
  font-size: 15pt;
}

#contactsBody h4 {
    font-weight: bold;
}

#contactsBody .mycolumn{
    width: 100%;
}

#contactsBody {
    font-size: 12px;
}



.columnStyle{
    min-height: 100px;
    min-width: 200px;
    max-width: 300px;
    margin-top: 40px;
}

.btnStyle{

    width: 100%;
    display: flex;
    justify-content: right;
    justify-content: right;
}

.small{
    font-size: 12px;
}

.mycolumn{
    width: 100%;
}

.gmaps{
    width: 100%;
    min-height: 450px;
    margin-bottom: 20px;
}

.contentLayout{
    margin-left: 10px;
    margin-right: 10px;

}

.contentMap{
    max-width: 1200px;
    margin: 0 auto;
}


.karenCampusImage{
    margin-top: 20px;
    background-image: url('/static/img/karen_campus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}


.lavingtonCampusImage{
    margin-top: 20px;
    background-image: url('/static/img/lavington_campus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

