.curriculumContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.curriculumConstraint{
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.curriculumItem{
    width: 368px;
    border: 1px solid rgb(153, 140, 215);
    position: relative;
    padding-bottom: 30px;

    overflow: hidden;
    margin: 40px 40px;
}

.curriculumItem img{
    width: 368px;
    height: auto;


}

.curriculumItem h5{
    font-weight: bold;
    margin: 10px 10px;
}

.curriculumItem p{
    font-size: 14px;
    margin: 10px 10px;
    color: #666;
}

.curriculumItem .curriculumFooter a{
    font-size: 12px;
    margin-left: 10px;

    position: absolute;
    top: 8px;
    cursor: pointer;

}

.curriculumItem .curriculumFooter a:hover{
    color: rgb(153, 140, 215);
    text-decoration: underline;
}

.curriculumFooter{
    width: 368px;
    height: 30px;
    background-color: #F6F6F6;
    position: absolute;
    bottom: 0px;
    z-index: 85;


}

.curriculumItem content{


}

.readMore{
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;

}

.readMore:hover{
    text-decoration: underline;
    color: black;
}





