#environmentContent{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.environmentConstraint{
    max-width: 2000px;
    width: 100%;
    margin: 30px 30px   ;
}

.downloadsColumn{

    min-height: 200px;

     color: white;
    padding: 0px 5px;
    margin-bottom: 20px;

}

.downloadsColumn hr {
    margin: 5px;
    padding: 0px;
    border-color: white;
    margin-bottom: 15px;
}
.downloadsColumn a {
    color: white;

}

.downloadsColumn a:hover {
    color: white;

}


.downloadsColumn h3{
   padding: 10px 10px 0px 0px;

}

.contentColumn{
    min-height: 200px;
}


.downloadsColumn ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.downloadsColumn li{
    list-style: none;
    margin: 10px 0px;
    padding-left: 10px;
}




.contentColumn h4{
    font-size: 22px;
}

.contentColumn h5{
    font-size: 16px;
    font-weight: bold;
}

.contentColumn p{
    font-size: 14px;


}

.contentColumn .section{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

}

.sectionItem {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
     border-bottom: 1px solid #CCCCCC;

}

.sectionItem img{
    width: 100%;
    height: auto;

}

.sectionItem  .description{
    min-width: 300px;
    width: 100%;
}

 .sectionItem ul{
     font-size: 14px;
 }


.sectionItem ul li{
    font-size: 14px;
}

.sectionItem h3{
    padding-top: 10px;
}

.descriptionColumn{

}