#eventContainter {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

}

.eventConstraint {
    max-width: 1200px;
    width: 100%;
}

.eventItem {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.eventItem h2 {
    font-weight: 100;
    font-size: 18pt;
    padding: 0px 0px;
    margin-top: 20px;
}

.eventItem .smallDate {
    font-size: 11pt;
    font-weight: bold;
}

.eventItem img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eventItem div {
    font-size: 15px;
}

.recentPostHeader {
    color: #333333;
    font-size: 28px;
    padding: 20px 0px;
    width: 100%;
    font-weight: bold;
    color: #999999;
}

.recentPost {
    max-width: 250px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.recentPost img {
    width: 100%;
    height: auto;
}

.recentPost .topic {
    font-size: 18px;
    margin: 20px 0px 0px 0px;

}

.recentPost .orangeDate {
    font-size: 12px;
    color: #333333;
}


#wrapper {
    margin: 150px auto;
    max-width: 640px;
}

[id^=calendar],
[id^=calendar] + h3 {
    width: 400px;
}

[id^=calendar] + h3 {
    text-align: center;
}

#calendar{
    width: 100%;
    max-width: 400px;

}

.calendarStyling{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}