.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}

.zeButton{
    width: 180px;
    background-color: #e65100;
    height: 35px;
    border-radius: 8px;
    padding-top: 5px;
    cursor: pointer;
    color: white;
}

.zeButton:hover{
    background-color: #702b00;
    text-decoration: underline;
}

#galleryContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 20px 30px 20px;
}

.thumbnail{
        margin: 15px 15px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    position: relative;
}

.zoom {
    transition: transform .2s ease; /* Animation */
    width: 300px;
    height: 300px;
     min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    position: absolute;
     top: 0;
    left: 0;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#dialogImage {
  width: 100%;
  height: auto;
}

.galleryContainer{

   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.gallerySelect{
   width: 200px;
    color: white;
    height: 45px;
    padding: 10px 10px;
}