.contentBody{
    width: 100%;
}

.contentLayout{
    width: 100%;
    padding: 0px 10px;
    display: flex;

    flex-direction: column;
    align-items: center;

}

.item{
    margin: 20px 5px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
}


.item img{
    width: 100%;
    height: auto;
}



.document{
text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCCCCC;
    width: 50px;
    height: 40px;
}

.document:hover{
     border: 3px solid #CCCCCC;
    cursor: pointer;

}

.documentItem{
    margin: 20px 5px;
    border-bottom: 1px solid #CCCCCC;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;

}

.newsletterTitle{
    font-size: 22px;
}
.newsletterTitle:hover{
    text-decoration: underline;

}