.historyContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.historyConstrain{
  max-width: 1800px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
}

.timeline{
   margin-left: 5px;
  max-width: 1200px;
}

.timeline h2 {
  font-weight: 100;
  padding: 20px 20px;
  font-size: 23pt;
}

.timeline h4 {
  width: 1024px;
  font-weight: 100;
}

.timeline h3 {
  text-align: left;
  color: #737309;
}

.timeline {
  background-size: 30px 2000px;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  width: 100%;

  margin-left: 30px;
  padding-right: 60px;
  background: url("/static/img/timeline_left.png") no-repeat right top;
  background-position: right;
}

.right {
  width: 100%;

  margin-right: 30px;
  padding-left: 60px;
  background: url("/static/img/timeline_right.png") no-repeat left top;
   background-position: left;
}

.historyContentsLeft {
  border: 1px solid #43c077;
  padding: 20px 20px;
  display: flex;
  margin: 20px 0px;
}

.historyContentsRight {
  border: 1px solid #43c077;
  padding: 20px 20px;
    display: flex;
  margin: 20px 0px;

}

p {
  text-align: left;
}

.thumbnail {
  float: left;
}

.histoContent {
  margin: 0px 20px;
}