/* CSS for home page */

.contentBody{
    margin: 0px 10px;
}
.introduction h2{
    text-align: center;
}


.homeIntro {
    font-size: 16px;
    text-align: center;
    max-width: 1400px;
    width: 100%;

}


.splochContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

}

.theCard {
    display: inline;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    margin: 30px 0px;

}

.theCard img{
    width: 100%;
    height: auto;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;


}

.cardTitle {
    color: black;
    font-weight: bolder;
    font-family: "novabc", Helvetica, Arial, sans-serif;
    font-size: 120%;
}

.cardText {
    text-align: left;
    padding: 10px 0px;
    color: #666666;
    font-size: 14px;
}

.cardBtn {
    border-radius: 8px;
    font-family: "source_sans_regular", Helvetica, Arial, sans-serif;
}

.cardBtn:hover {
    border: 1px solid white;
}


.statBG {
    height: 327px;
    background-image: url('/static/img/stats_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #996633;
    margin: 40px 0 0 0;
}

.statContainer {
    max-width: 820px;
    height: 130px;
    margin: 0px auto;
    padding-top: 170px;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}

.statItem {
    width: 110px;
    margin: 0px 0px;
}

.statAmount {
    font-size: 20pt;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.statDescription {
    color: black;
    font-weight: bold;

}

.homeBottomLeftImages {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: end;


}

.homeParentBody{
    margin: 0px 10px;
    width: 100%;
}

.parentsHeader{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.homeParents{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.homeParents img{
    width: 100%;
    height: auto;
    max-width: 307px ;
}

.testimonials{
    font-family: "source_sans_extra_light", Helvetica, Arial, sans-serif;
    color: #079948;
    font-size: 30px;
    font-weight: lighter;


}


.homeBottomLeftContentBG {
    margin-top: 10px;
    padding-top: 20px;
    background-color: #d1df99;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.quoteContent1 {
    width: 100%;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
    font-size: 12pt;
    color: black;
    font-weight: 200;
    text-align: center;
}

.openingQuotes {
    font-size: 56px;
    color: white;
    float: left;
    margin-top: -40px;

    font-family: 'Courier New', Courier, monospace;
}

.closingQuotes {
    font-size: 56px;
    color: white;
    float: right;

    font-family: 'Courier New', Courier, monospace;
}

.homeQuote {
    font-family: "source_sans_regular", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    text-align: center;

}

.nameParent {
    font-size: 14pt;
    font-weight: bold;
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.homeControlBtns {
    margin-top: -20px;
    margin-bottom: 10px;
}

.quoteBtn:hover {
    border-color: white;
    color: white;
}

.eventHeading{
    font-family: "novabc", Helvetica, Arial, sans-serif;
    font-size: 150%;
 }

.eventContainer {
    font-size: 18pt;
    margin-bottom: 10px;
    text-align: left;

}

.eventList {
    height: 280px;
    overflow-y: auto;
}

.eventItemContainer {
    padding: 10px 10px 10px 10px;
    border: 1px solid #FFFFFF;
    border-bottom: 1px solid rgb(244, 244, 244);
    cursor: pointer;
    user-select: none;
}

.eventItemContainer:hover{
    border: 1px solid #E5E5E5;
}

.dateEvent {
    color: #079948;
    font-size: 10pt;
    margin-bottom: -5px;
}

.eventEvent {
    font-family: "source_sans_regular", Helvetica, Arial, sans-serif;
    color: #8baf00;
    font-size: 18pt;
    margin-bottom: -5px;
}



.timeEvent {
    color: #999999;
    font-size: 10pt;
}

.placeEvent {
    color: #999999;
    font-size: 10pt;

}

.containerHome {
    max-width: 1500px;
}

.modal2 {
    /* display: none;  */
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    right:0px;
    bottom:0px; 
    overflow: scroll;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1380px;

  }
  
  
  .zclose {
    color: #aaaaaa;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .zclose:hover,
  .zclose:focus {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  } 