@font-face {
    font-family: 'novabc';
    src: url('../fonts/novabc_.TTF') format('truetype');

}

@font-face{
    font-family: 'source_sans_regular';
    src:url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'source_sans_light';
    src:url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'source_sans_extra_light';
    src:url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'source_sans_bold';
    src:url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'source_sans_black';
    src:url('../fonts/SourceSansPro-Black.ttf') format('truetype');
}



body {
    font-family: "source_sans_regular", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center;

}

/* ----------------------------------- Header CSS ------------------------------ */


.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;

}

.grey--text {
    color: #9e9e9e;

}

p {
    text-align: left !important;
    font-size: 16px;
}

.headerBody {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;

    position: absolute;
}

.mainHeader {
    background-color: white;
    border-bottom: 10px solid #cc9900;
    background-size: auto;

}

.headerText {
    font-size: 300%;
    font-weight: bolder;
    line-height: 120%;
    padding: 20px 10px 5px 10px;
    width: 30%;
    min-width: 340px;
    margin-top: 100px;
    background-size: 100% 100%;
    color: white;
    font-family: "novabc";
    text-align: center;

}

.headerTextFill {
    width: 100%;
    display: flex;
    justify-content: center;

    background-repeat: no-repeat;

}

.headerBackground{
    display: flex;
    align-items: flex-end;
}

/* ************ Menu System ****************** */
#menuSystem {
    display: flex;
    z-index: 1;
    margin-top: 24px;
    flex-direction: row;
}

#menuSystem a{
    text-decoration: none;
    color: black;
}

#dropDown a{
    text-decoration: none;
    color: black;
}


#menuSystem ul {
    display: flex;
    min-width: 480px;
    color: black;
}
#menuSystem li {
    list-style: none;
}

#menuSystem li a{


    margin: 0px 3px;
    padding: 4px 8px;

    margin-top: 8px;
    cursor: pointer;
    border-bottom: 3px solid white;
}


#menuSystem li a:hover{
    border-bottom: 3px solid #079948;
    background-color: rgba(0,0,0,0.05);
}

#mainMenu{
    position: relative;
}

#dropDown {
    z-index: 99;
    position: absolute;
    top:40px;
}
#dropDown ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

}

#dropDown li{
    list-style: none;
    text-align: left;

}

#dropDown li a{
    display: flex;
    padding-left: 5px;
    width: 200px;
    padding: 10px 5px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    font-size: 15px;

}

#dropDown li a:hover{
    background-color: rgba(255,255,255,1.0);
    border-bottom: 2px solid #079948;

}





.navBarContainer{
    margin: 20px 20px;
    position: relative;
}

#navButton{
    background-color: white;
    border: 1px solid #CCCCCC;
    outline:none;
    padding: 5px 10px;

}


#floatingMenu{
    position: absolute;
    width: 160px;
    height: 350px;
      right: 0px;
    z-index: 99;
    color: black;
}

#floatingMenu ul{
    list-style: none;
    border: 1px solid #333333;
    margin: 0px;
    padding: 0px;
}

#floatingMenu li{
    color: black;
    cursor: pointer;
     background-color: rgba(255,255,255,0.9);

    width: 100%;
    display: flex;
    height: 45px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #333333;
    color: black;
    font-size: 14px;
    color: black;
}

#floatingMenu li:hover{
    background-color: #E8E8E8;

}



#aboutUsFloat{
   color: black;
    font-size: 14px;
    list-style: none;
     position: absolute;
        right: 190px;
    top:4px;
    z-index: 100;
    width: 180px;


}

#aboutUsFloat li{
    height: 40px;
    border-bottom: 1px solid #333333;
    background-color: rgba(255,255,255,0.95);
     width: 170px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}
#aboutUsFloat li:hover{
    background-color: #E8E8E8;
}

#educationFloat{
      color: black;
    font-size: 14px;
    list-style: none;
     position: absolute;
        right: 210px;
    width: 170px;
    top:70px;
    z-index: 120;

}

#educationFloat li{
    height: 40px;
    border-bottom: 1px solid #333333;
    background-color: rgba(255,255,255,0.95);
     width: 180px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    color: black;
}
#educationFloat li:hover{
     background-color: #E8E8E8;
}


.zeIcon{
    margin-right: 10px;
}
/* ************ Content Body *****homeQuote************* */

.contentBody {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.contentLayout {
    max-width: 1800px;
}



h2 {
    font-family: "source_sans_bold", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    padding: 40px 40px;
    font-size: 23pt;
    width: 100%;
    max-width: 1800px;
}

h5{
    font-family: "source_sans_regular", Helvetica, Arial, sans-serif;
}

h3 {
    font-family: "source_sans_bold", Helvetica, Arial, sans-serif;
}

h4{
    font-family: "source_sans_bold", Helvetica, Arial, sans-serif;
}


.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

#gorvenance h2{
    padding: 0px;
    font-size: 32px;
}

/* ----------------------------------- Footer CSS ------------------------------ */

.footerContainer {
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    font-size: 9pt;
    color: #cccccc;
    margin-top: 0px;
}

.footerItem {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: left;
    width: 350px;
}

.footerItem ul {
    list-style: none;
    padding-left: 10px;
    text-align: left;
}

.footerItem li {

}

.theFooterSocialMedia a {
    margin: 0px 5px;
}

.footerTitle {
    font-weight: bold;
    font-size: 14px;
}

.socialIconFooter {
    margin: 5px 5px;
}

.hrDark{
    border-color: white;
}

.footerLinks a{
    color: white;
}

.footerLinks a:hover{
    color: white;
}



/* ------------------------------- Register ----------------------------- */
#register {

    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerRegister{
    width: 1800px;
    display: flex;
    justify-content: center;
}

#register h2{
    padding: 0px;
    margin: 10px 0px 5px 0px;
    text-align: left;

    font-size: 26px;
    font-weight: bold;
    color: white;
}

#register p{
        font-size: 14px;
    text-align: left;
}

.registerBackground{
    background-image: url('/static/img/booking1.jpg');
    width: 669px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#register input {

    color: white;
}

#register textarea {
    color: white;
}

/* input design css for application form */
#applicationForm {
    text-align: left;
}
#applicationForm label{
    font-size: 12px;
    margin: 0px;
}

#applicationForm input{
width: 100%;
color: black;
border: 1px solid #CCCCCC;
border-radius: 5px;
height: 30px;
font-size: 13px;
padding: 0px 10px;
}

#applicationForm textarea{
width: 100%;
height: 150px;
margin: 0px;
color: black;
font-size: 13px;
padding: 10px 10px;
    
}

#newsletterForm input{

    width: 100%;
color: black;
border: 1px solid #CCCCCC;
border-radius: 5px;
height: 25px;
font-size: 12px;
padding: 0px 10px;
}

/* input design css for application form */
#contactForm {
    text-align: left;
}
#contactForm label{
    font-size: 12px;
    margin: 0px;
}

#contactForm input{
width: 100%;
color: black;
border: 1px solid #CCCCCC;
border-radius: 5px;
height: 30px;
font-size: 13px;
padding: 0px 10px;
}

#contactForm textarea{
width: 100%;
height: 60px;
margin: 0px;
color: black;
font-size: 13px;
padding: 5px 10px;
    
}
