.mediaItem {
    border: 1px solid #9BBA1F;
    margin: 20px 15px;
    padding: 0;
    background-color: #f9f9f9;
    width: 200px;
    height: 180px;

}

.mediaLayout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mediaContent{
   display: flex;
    width: 100%;
    justify-content: center;
    text-align: left; ;
}

.mediaConstraint{
    max-width: 1600px;
    width: 100%;
    min-height: 100px;
    margin: 30px 30px   ;

}



.theImage{
    background-color: #0f74a8;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
}

.theVideo{

    height: 180px;
    width: 200px;


}

.mediaImageExpand{
    width: 23px;
    height: 23px;
    background-image: url("/static/img/expand_icon.png");
    background-position: center;
    background-size: contain;
    margin: 5px 5px;
}

.mediaImageExpand:hover{
    background-image: url("/static/img/expand_icon_off.png");
    cursor: pointer;
}

.theDocument{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.theDocumentIcon{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theDocumentLabel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px 5px;
}

.downloadFileIcon{
     color: #666666;
}

.downloadFileIcon:hover{
    color: #9BBA1F;
    cursor: pointer;
}

.theDocumentLabel p{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: small;
    color: #666666;
    line-height: 15px;
    margin: 0;
}

.theDocumentTitle{
    font-size: 14px;
    font-weight: bold;

}

.downloadsColumn{

    width: 100%;
     color: white;


    padding: 30px 20px;
    margin-bottom: 20px;
}



.downloadsColumn hr {
    margin: 5px;
    padding: 0px;
    border-color: white;
    margin-bottom: 15px;
}
.downloadsColumn a {
    color: white;

}

.downloadsColumn a:hover {
    color: white;

}

.downloadsColumn h3{
color: white;

}

.downloadsColumn h5{
   padding: 10px 0px 0px 0px;
    color: white;

}
