.teamContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer{
    width: 100%;
    text-align: center;
}

.zeButton{
    width: 180px;
    background-color: #5f948e;
    height: 35px;
    border-radius: 8px;
    padding-top: 5px;
    cursor: pointer;
}

.zeButton:hover{
    background-color: #21423d;
    text-decoration: underline;
}

.teamConstraint{
    max-width: 1800px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.teamItem{
    display: flex;
    width: 300px;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
}

.teamItem .teamDetail{
    margin-left: 15px;
    margin-right: 20px;
}

.teamItem img{
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
}

.teamItem h4{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.teamItem h5{
    font-size: 14px;
    color: #666666;
}

.potraitContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}