{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - Home</title>
    <link rel="stylesheet" href="/static/css/aboutus.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

    <div class="contentBody constraint">


        <div id="aboutus">

             <div class="missionContainer">
            <div class="mission">
                <h5 class="quote">
                    <span>VISION:</span> Nurturing wholistic beings.
                </h5>
            </div>
        </div>
        <div class="missionContainer">
            <div class="mission">
                <h5 class="quote">
                    <span>MISSION:</span> To be the leading inspirational school in Kenya by nurturing, through Waldorf education, <br>balanced, free individuals who are capable of critical, 
                    creative, and flexible thinking.</br>
                </h5>
            </div>
        </div>


            <div class="aboutInfo row">
                <img src="/static/img/about_us.jpg" class="col-md-4 col-xs-12" width="300" height="225">
                <div class="col-md-8 col-xs-12">
                    <h2>Why Waldorf?</h2>
                    <p>Discover a wholistic education. Discover the Nairobi Waldorf School Trust.</p>
                  
                    <p>The Nairobi Waldorf School Trust nourishes the intellectual, physical, and artistic development of
                        the child; cultivating each child’s unique contribution for the future through the unfolding of
                        courage, compassion, and truth.</p>
                    <p>The Nairobi Waldorf School Trust is dedicated to providing education inspired by the Waldorf philosophy. Most of our faculty have completed a recognized Waldorf teacher education program
                        and are committed to teaching in ways that foster truth, beauty, and goodness. This foundation
                        maximizes the potential for learning, loving, and creating to unfold naturally in children while
                        helping to remove obstacles in their paths. Academics, art, music, and movement are interwoven to
                        meet the developmental needs of the whole child.</p>
                    <p>Through Waldorf education, we are preparing children to be conceptual thinkers whose self-understanding,
                        compassion, expressiveness, and creative problem-solving skills equip them to take on life to its
                        fullest potential.</p>


            </div>
        </div>




        <!-- Thinking, Feeling, Willing -->
        <div class="videoContainer">
            <div class="videoConstrain">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h5>THINKING, FEELING, WILLING</h5>
                        <p>
                            Every one of us relates to education in a unique way, but all of us have seen or will see
                            the
                            impact of education in their life, as a child, as a parent, and as a citizen interacting with
                            other people whose personality and behaviour have been shaped by a certain education
                            system.</p>
                        <p> Most of us remember education as mainly developing the ability of our brain in such a
                            way
                            that we learn to develop one form of intelligence. However, through the teachings of Rudolf Steiner, we can understand the human being has the
                            extraordinary power of developing multiple intelligences. If education is about bringing
                            forth
                            what is within, then it should do more than just focus on our mind, but also empower our
                            heart and our hands. 
                            <p>Educating the Head, the Heart, and the Hands is what Waldorf Education
                            is
                            all about.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <iframe class="youtube" src="https://www.youtube.com/embed/upmMD4JnCus" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>
            </div>

        </div>


        <div class="chooseUsContainer">
            <h2>Why Choose Us</h2>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="singleAdvantage">
                        <div class="advantage">1.
                        </div>
                        <div class="advantageText">
                            <h3>Unique Teacher Approach</h3>
                            <p>Waldorf education utilizes a unique class teacher approach. The class teacher stays with their
                                class from grade 1 and throughout their primary school years. The teacher assumes a
                                deeply connected role to their class, forming a social group with the children and parent body that helps to
                                support learning. Retaining the same teacher helps to establish routines that become second nature
                                to the children.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="singleAdvantage">
                        <div class="singleAdvantage">
                            <div class="advantage" style="background-color: #c8b549;">2.
                            </div>
                            <div class="advantageText">
                                <h3>Tailored for Each Developmental Age</h3>
                                <p>The Waldorf curriculum is designed to meet each stage of a child's development from early
                                    childhood, through adolescence, into young adulthood.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="singleAdvantage">
                        <div class="advantage" style="background-color: #cf6122;">3.
                        </div>
                        <div class="advantageText">
                            <h3>Experiential Learning</h3>
                            <p>The Main Lesson approach is unique to Waldorf Schools. The morning main lesson is a one
                                and a half to two-hour period in which the main academic work of the day is presented.
                                The selected subject is taught in a comprehensive three or four week block, allowing for
                                freshness, enthusiasm and a concentrated, in-depth experience that gives children time
                                to digest what has been learned.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="singleAdvantage">
                        <div class="advantage" style="background-color: #77746d;">4.
                        </div>
                        <div class="advantageText">
                            <h3>Cognitive and Artistic Disciplines</h3>
                            <p>Waldorf education was the first to recognize the value of “block” learning. Immersion in
                                a single subject promotes horizontal integration of cognitive and artistic disciplines,
                                as well as vertical integration through an ascending spiral of learning that revisits
                                subjects throughout the year – and from year to year. This results in a profound,
                                age-appropriate education</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                 

            </div>

        </div>

        </div>
    </div>
    <!-- Add the Booking -->
    {% include "book_appointment.html" %}
{% endblock %}
