{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/admission.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}


    <div id="admisionContent">
        <div class="admisionConstraint">
            <div class="row">
                <div class="col-md-3 col-sm-12 ">
                    <div class="downloadsColumn" style="background-color: {{ color }}";>


                    <h3>Downloads</h3>
                    <hr/>
                    <ul><h5><strong>Prospective Parents</strong></h5>
                        {% for download in downloadsProspective %}
                        <!-- List of Items to iterate when downloading -->
                        <li><a href="/media/{{ download.file }}"  target="_blank"><i class="fa fa-download mr-2" aria-hidden="true"></i>{{ download.display_name }}</a></li>
                        {% endfor %}
                    </ul>

                    {% if  downloadsCurrent%}


                    <hr/>
                        <ul><h5><strong>Current Parents</strong></h5>
                        {% for download in downloadsCurrent %}
                        <!-- List of Items to iterate when downloading -->
                        <li><a href="/media/{{ download.file }}"  target="_blank"><i class="fa fa-download mr-2" aria-hidden="true"></i>{{ download.display_name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    </div>

                </div>


                <div class="col-md-9 col-sm-12 contentColumn">
                    <div class="section">
                        <h4 style="color: {{ color }}">Enrollment Process</h4>
                        <p>In order to formally apply for a place as a student in Nairobi Waldorf School, a Student
                            Application must be completed and submitted along with a non-refundable application fee of
                            KShs 5,000/- per child. These must be submitted together with the application form before
                            the school will undertake the initial assessment of the child for admission.</p>
                        <p>We strive to honour all requests for admission, but final admission and placement decisions
                            are based on space availability, as well as the School's/classes' ability to provide the
                            education and support required for the individual child, which is a decision made by the
                            teachers.</p>
                        <p>With increasing interest in Waldorf education, we are experiencing more requests for
                            placement than there is space available, particularly in the Kindergartens. As a result,
                            Nairobi Waldorf School will commence with conducting interviews with parents/guardians of
                            those requesting placement. The purpose of these interviews is to ensure that the parent's
                            expectations are congruent with what we offer as a School and in addition in the case of
                            older students assess his/her 'readiness' for the class for which they have applied. </p>
                        <hr/>
                    </div>

                    <div class="section">
                        <h4 style="color: {{ color }}">Broad Criteria for Admission</h4>
                        <h5>Kindergarten</h5>
                        <p>The Kindergartens accept children from the age of eighteen months. They are generally grouped
                            into: toddler group - eighteen months to two-and-a-half years; playgroup - two-and-a-half to
                            four years; and kindergarten group - four to six years. </p>
                        <h5>Reception Group</h5>
                        <p>Within their last year of Kindergarten, students become part of the 'Reception Group'. The Reception Group are given more challenging and directed activities with a focus on the development of all the pre-learning skills required to enter Primary School with additional support from the teacher. Students join the Reception Group when they are in their last school year prior to moving onto Primary School.  </p>

                        <h5>Class One</h5>
                        <p>Admission from Kindergarten to Primary School is not automatic. Any child turning six years of age on or prior to the 15th of August of the given year will be automatically assessed for Class One readiness during term II of the current school year. Upon successful assessment, the child will then be admitted to Class One commencing usually in late August/early September of that given year. Should a child turn six after the 15th of August, but prior to or on 15th October of a given year, upon request of the parent/ guardian, an assessment may be carried out following consultation between the respective Kindergarten teacher, the Class One readiness assessment team and the parent/guardian. Should an agreed upon assessment reveal Class One readiness for this particular child, then admission may be granted to Class One. Any child turning six years of age after the 15th of October of a given year will not be assessed for Class One readiness for that year and will not receive Class One admission for that year</p>
                        <p>For children coming into the Waldorf Primary School from a different Kindergarten the same assessment procedure applies.</p>

                        <h5>Class Two and Beyond</h5>
                        <p>For students wishing to join the School in Class 2 or beyond, for optimal grade placement, a series of interviews, observations, and assessments will be made.</p>

                        <hr/>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
