{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}


    <div id="blogContainter">
        <div class="blogConstraint">

            <div class="row">
                <div class="col-md-8 col-xs-12" style="width: 100%;  min-width: 400px">
                    <!-- Repeat Blog Stories -->
                    <div id="1" class="blogItem">
                        <h2 style="color:{{ color }}">AGE, MILESTONES AND FIRST GRADE</h2>
                        <div class="smallDate">Wednesday, 12th September 2018</div>
                        <img src="/static/img/teacher.jpg" alt="">
                        <div>
                            Parents and teachers alike often are confused about a child’s readiness to enter First
                            Grade. They question, “What is the value of keeping a six-year old in kindergarten another
                            year?” Parents express concern that their child will fall behind if they do not move into
                            first grade with their peers, classmates and friends. The placement decision is often a
                            difficult one to make. There are many factors that are taken into consideration, but the
                            primary concern is for the child’s overall well-being, not only for the following year, but
                            for years to come.
                        </div>
                    </div>


                    <!-- end of Blog Story -->

                </div>
                <div class="col-md-4 d-none d-md-block"
                     style="width: 100%; height: 100px; min-width: 200px">

                    <div style="display: flex; justify-content: right; width: 100%">
                        <div>
                            <h2 class="recentPostHeader">Recent Posts</h2>
                            <!-- Repeat Recent Posts -->
                            <div class="recentPost">
                                <img src="/static/img/teacher_thumbnail.jpg" alt=""/>
                                <div class="topic"><a href="#0" style="color: {{ color }}"> AGE, MILESTONES AND FIRST
                                    GRADE</a></div>
                                <div class="orangeDate">Wednesday, 12th September 2018</div>
                            </div>

                            <!-- end of recent post -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}