<div id="register" style="background-color: {{ color }}">
    <div class="containerRegister">
        <div class="row">
            <div class="col-xs-6 px-4 py-4">
                <div>
                    <h2 class="registerH2">Book Appointment</h2>
                    <hr class="hrDark" />


                    <div>
                        <p class="pl-3">Would you like a tour of Nairobi Waldorf School to see if we are the best fit
                            for your child?</p>
                        <form action="/appointment" id="applicationForm" method="post">
                            {% csrf_token %}


                            <div class="container">
                                <div class="row justify-content-between  my-4">
                                    <div class="col">
                                        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div class="row justify-content-between my-4">
                                    <div class="col">
                                        <label for="{{ form.mobile.id_for_label }}">Mobile:</label>
                                        {{ form.mobile }}
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.email.id_for_label }}">Email:</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="row justify-content-between  my-4">
                                    <div class="col">
                                        <label for="{{ form.message.id_for_label }}">School Campus:</label>
                                        <span style="padding-left: 20px; font-size: 16px;">
                                            {{ form.school }}
                                        </span>

                                    </div>
                                </div>
                                <div class="row justify-content-between  my-4">
                                    <div class="col">
                                        <label for="{{ form.message.id_for_label }}">Message:</label>
                                        {{ form.message }}
                                    </div>
                                </div>
                                <div class="btnStyle">
                                    <button type="reset" class="btn btn-outline-warning  btn-sm mx-2 m-3">CLEAR</button>
                                    <button type="submit" value="Submit"
                                        class="btn btn-warning  btn-sm mx-2 my-3">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 registerBackground">


            </div>
        </div>
    </div>


</div>
<script>


</script>