{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/contacts.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}




    <div id="contactsBody" style="background-color: {{ colorTranslucent }}">
        <div class="contactConstrainBody">
            <div class="row">
                <div class="col-md-4 col-sm-12" >
                    <div class="columnStyle">

                        <div class="mycolumn">


                            <h4>KAREN CAMPUS</h4>
                            <div>
                                <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                Miotoni Road
                            </div>
                            <div>
                                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                +254 722 823 463
                            </div>
                            <div>
                                <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                                info@nairobiwaldorfschoolac.ke
                            </div>



                        </div>



                    </div>

                     <div class="karenCampusImage">
                     </div>
                </div>
                <div class="col-md-4 col-sm-12" >
                    <div  class="columnStyle">

                        <div class=" mycolumn">


                            <h4>LAVINGTON CAMPUS</h4>
                            <div>
                                <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                Mageta Road
                            </div>
                            <div>
                                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                +254 728 617 423
                            </div>
                            <div>
                                <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                                lavington@nairobiwaldorfschool.ac.ke
                            </div>
                        </div>

                    </div>

                    <div class="lavingtonCampusImage">

                     </div>
                </div>
                 <div class="col-md-4 col-sm-12" >
                    <div  class="columnStyle" >
                    <h3>Contact Us</h3>
                    <form action="/contactus" id="contactForm" method="post">
                            {% csrf_token %}
                            <div class="container" style="width: 100%">
                                <div class="row justify-content-between  my-4">
                                    <div class="col">
                                        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                                        {{ form.first_name }}
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div class="row justify-content-between my-4">
                                    <div class="col">
                                         <label for="{{ form.mobile.id_for_label }}">Mobile:</label>
                                        {{ form.mobile }}
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.email.id_for_label }}">Email:</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="row justify-content-between  my-4">
                                    <div class="col">
                                        <label for="{{ form.message.id_for_label }}">Message:</label>
                                        {{ form.message }}
                                    </div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="6LcZhqoUAAAAAOEpv0njjihjmuUQ70bp6yGyjm5r"></div>

                                <div class="btnStyle">
                                    <button type="reset" class="btn btn-outline-warning  btn-sm mx-2 m-3 " style="border-color: #CCCCCC; color: #CCCCCC">CLEAR</button>
                                    <button type="submit" value="Submit" class="btn  btn-sm mx-2 my-3" style="background-color: #CCCCCC">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                </div>
                    </div>
                </div>


            </div>
        </div>





            <div class="contentMap">
        <div class="contentLayout my-4">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="mapHeader" style="background-color: {{ color }}"><h4>Karen Campus</h4></div>
                    <iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1185.8695404483801!2d36.715588724457355!3d-1.3110906520425811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b9f973de307%3A0xdc480990ed6c5d0b!2sNairobi+Waldorf+School!5e0!3m2!1sen!2ske!4v1559107466798!5m2!1sen!2ske"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="mapHeader" style="background-color: {{ color }}"><h4>Lavington Campus</h4></div>
                    <iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1677.0914535056213!2d36.77465422660321!3d-1.2829243308153384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f174f77578107%3A0xf0cb406633e2f348!2sWaldorf+Kindergarten!5e0!3m2!1sen!2ske!4v1559107592769!5m2!1sen!2ske"
                             frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>

    </div>

    </div>


{% endblock %}