{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/education.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}


    <div id="environmentContent">
        <div class="environmentConstraint">


            <div class="row"  style="justify-content: center">



                <div class="col-md-9 col-sm-12 contentColumn">

                    <div>
                        <!-- Section -->

                        <div id="item1" class="sectionItem row">
                            <div class="col-md-4 col-sm-12">
                                <img src="/static/img/education1.jpg">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <h4 style="color: {{ color }}">Waldorf Education</h4>
                                <p>Waldorf education was developed at the beginning of the 
                                    20th century by Austrian philosopher Rudolf Steiner. Steiner’s education approach is inspired by his philosophy and teachings, called anthroposophy. The first Waldorf school 
                                    was established in 1919 in Germany.</p>
                                    <p> Waldorf education and teaching methods are designed to stimulate and nurture both the academic and creative capacities and abilities of a child. The curriculum nourishes the intellectual growth, physical movement, and artistic interests of a child. Through this, Waldorf cultivates each child’s unique contribution to the future through the 
                                    unfolding of courage, compassion, and knowledge.</p>
                                    <p>The Waldorf approach fosters and empowers a child’s sense 
                                    of self-discovery. This maximizes the potential for learning, loving, and creating through educating the head, heart, and hands. Waldorf graduates maintain a strong sense of self-confidence combined with academic knowledge and practical skills to meet life and all its possibilities.</p>
                                    <p>Currently, there are more than 1,500 Waldorf schools and kindergartens in 50 countries, making Waldorf the fastest growing independent school movement in the world.</p>
                            </div>
                        </div>
                        <hr/>
                    </div>


                    <!-- Section -->
                    <div id="item2" class="sectionItem row">
                        <div class="col-md-4 col-sm-12">
                            <img src="/static/img/education2.jpg">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <h4 style="color: {{ color }}">Lower Class</h4>
                            <p>Waldorf schools, including Nairobi Waldorf School, are non-sectarian and include
                                students from numerous ethnicities, nationalities, paths of life, and abilities.</p>
                            <p>Waldorf schools don't subscribe to the beliefs of a particular religion, nor are any
                                particular religious or philosophical teachings taught.</p>
                            <p>However, Waldorf education is implicitly infused with spirituality. The fundamental
                                tenet underlying Waldorf schools and community is the recognition of the human
                                spiritual dimension, and an appreciation for the earth and all living things. It is
                                this sensibility that guides our education with spiritual guidance aimed at
                                awakening the child's natural reverence for the wonder and beauty of life.</p>
                            <p>In our classes we welcome families/parents of any and all religions and cultural
                                heritages, and encourage you to share your personal experiences. A key point to
                                remember for Parents is that Waldorf education is based on the spiritual nature of
                                each child, and that your family's particular beliefs will be respected.</p>

                        </div>
                    </div>
                    <hr/>

                    <!-- Section -->
                    <div id="item3" class="sectionItem row">
                        <div class="col-md-4 col-sm-12">
                            <img src="/static/img/education3.jpg">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <h4 style="color: {{ color }}">Upper Class</h4>
                            <p>Waldorf schools, including Nairobi Waldorf School, are non-sectarian and include
                                students from numerous ethnicities, nationalities, paths of life, and abilities.</p>
                            <p>Waldorf schools don't subscribe to the beliefs of a particular religion, nor are any
                                particular religious or philosophical teachings taught.</p>
                            <p>However, Waldorf education is implicitly infused with spirituality. The fundamental
                                tenet underlying Waldorf schools and community is the recognition of the human
                                spiritual dimension, and an appreciation for the earth and all living things. It is
                                this sensibility that guides our education with spiritual guidance aimed at
                                awakening the child's natural reverence for the wonder and beauty of life.</p>
                            <p>In our classes we welcome families/parents of any and all religions and cultural
                                heritages, and encourage you to share your personal experiences. A key point to
                                remember for parents is that Waldorf education is based on the spiritual nature of
                                each child, and that your family's particular beliefs will be respected.</p>
                            <p>Keep in mind that each of us is special because we are different, we have come
                                together because we have our differences to bring to each other, so listen to the
                                other, as the other listens to you, and we will hear ourselves grow into the
                                realisation of expanding mutual respect. - Karl König</p>
                        </div>
                    </div>
                    <hr/>
                </div>


            </div>


        </div>
    </div>
        <!-- Add the Booking -->
        {% include "book_appointment.html" %}
{% endblock %}
