{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/environment.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}


    <div id="environmentContent">
        <div class="environmentConstraint">
            <div class="row" style="justify-content: center">



                <div class="descriptionColumn col-md-9 col-sm-12">




                    <!-- Section -->
                    <div class="section row">
                        <div class="sectionItem row">
                                <div class="col-md-4 col-sm-12">
                                    <img src="/static/img/environment1.jpg">
                                </div>



                            <div class="description col-md-8 col-sm-12">

                                <h4 style="color: {{ color }}" id="item1">Waldorf Aesthetic</h4>
                                <p>With an emphasis on wholistic education, the aesthetic-spatial arrangements of Waldorf
                                    schools mirror and support the growth and development of a child. There is within
                                    the school ongoing reflection regarding the fit between the children, their
                                    age-specific needs, and their education. Waldorf education is designed to bring out the
                                    best of all aspects of the child by harnessing the imagination.</p>
                                <p>It is now commonly understood that our environment deeply affects who we are as human
                                    beings. The effect of the aesthetics on our psyche can be profound. Many studies
                                    have shown the effect of colour on human beings; for example the Hamid & Newport
                                    1989 study on pre-school children which showed that the children demonstrated more
                                    physical strength and positive mood in a pink-coloured room than in a blue-coloured
                                    room. </p>
                                <p>Waldorf education sees a pleasing and pleasurable environment as part of a human's
                                    fundamental and basic needs. Rudolf Steiner was immensely interested in colour and
                                    aesthetics and brought this interest into the environment which he created in early
                                    Waldorf Schools. This aesthetic is even more important in a world in which children
                                    are increasingly bombarded with glaring and harsh images and surroundings that do
                                    not leave their developing senses with a place to rest and grow.</p>

                                <p>Some specific aspects of the Waldorf aesthetic include:
                                    <li>Raw and natural materials that blend together. (i.e. wood, felt, beeswax, silk)
                                    </li>
                                    <li>Handmade tools that are pleasure to work with.
                                    </li>
                                    <li>Materials and what they make are lovely to touch and feel.</li>
                                    <li>Colours that are found in nature and not artificial.</li>
                                    <li>Curved and natural formations rather than straight or hard lines.</li>
                                    <li>Simple designs, toys, and surroundings - this is beautiful in itself but also allows the
                                        child to develop their imagination by ‘filling in the details'.</li>
                                    <li>Seasons and nature rhythms honoured within the classroom through 
                                        flowers, ceremonies, and celebrations.
                                    </li> </p>
                                    <p>Most importantly - children are very often involved in the production of the
                                        creations used in the classrooms.</p>
                            </div>

                    </div>


                    <!-- Section -->
                    <div class="section">
                        <div class="sectionItem row">
                            <div  class="col-md-4 col-sm-12">
                                <img src="/static/img/environment2.jpg">
                            </div>

                            <div class="description  col-md-8 col-sm-12">
                                <h4 style="color: {{ color }}" id="item2">Learning Support</h4>
                                <p>The Nairobi Waldorf School Trust recognizes that each child's needs and abilities are unique. Waldorf education allows for 
                                    indivdual learning styles - children are supported and encouraged to learn at their own pace within the curriculum.</p>
                                <p>The school has established the Kolisko Group, a team tasked with enacting policies and procedures to aid in learning support. Students requiring additional learning support 
                                    will receive an Individual Education Program (IEP) and the Kolisko Group will work to support 
                                the educators, students, and families to best serve each child.</p>
                                <p>The Nairobi Waldorf School Trust does not discriminate based on learners' abilities, but enrollment of each child will be carefully considered to ensure
                                    the school can meet the needs of each child. Current class dynamics, scope of learner's support required, and appropriate support staff availability
                                    will be taken into account.
                                </p>
                            </div>
                        </div>

                    </div>


                    <!-- Section -->
                    <div class="section">
                        <div class="sectionItem row">
                            <div  class="col-md-4 col-sm-12">
                                <img src="/static/img/environment3.jpg">
                            </div>

                            <div class="description   col-md-8 col-sm-12">
                                <h4 style="color: {{ color }}" id="item3">Spirituality</h4>
                                <p>Waldorf schools, including the Nairobi Waldorf School Trust, are non-sectarian and include
                                    students from numerous ethnicities, nationalities, paths of life, and abilities. Waldorf schools don't subscribe 
                                    to the beliefs of a particular religion, nor are any
                                    particular religious or philosophical teachings taught.</p>
                                <p>However, Waldorf education is implicitly infused with spirituality. The fundamental
                                    tenet underlying Waldorf schools and community is the recognition of the human
                                    spiritual dimension and an appreciation for the Earth and all living things. It is
                                    this sensibility that guides our education with spiritual focus aimed at
                                    awakening the child's natural reverence for the wonder and beauty of life.</p>
                                <p>In our classes we welcome families of any and all religions and cultural
                                    heritages and encourage families to share personal experiences. A key point to
                                    remember for parents is that Waldorf education is based on the spiritual nature of
                                    each child and that every family's particular beliefs will be respected.</p>
                                <p>'Keep in mind that each of us is special because we are different, we have come
                                    together because we have our differences to bring to each other, so listen to the
                                    other, as the other listens to you, and we will hear ourselves grow into the
                                    realisation of expanding mutual respect.' - Karl König</p>
                                </ul>
                            </div>
                        </div>

                    </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
