{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/events.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}


    <div id="eventContainter">
        <div class="eventConstraint">

            <div class="row">
                <div id="mycalendar" class="col-md-4  col-xs-12">

                    <div class="calendarStyling">
{#                        <div>#}
                            <h2 class="recentPostHeader"></h2>
                            <!-- Calendar -->
                            <div id="calendar"></div>

                            <!-- -->
{#                        </div>#}
                    </div>
                </div>

                <div class="col-md-8 col-xs-12" style="width: 100%; ">




                    {% for event in events %}
                    <!-- Repeat event Stories -->
                    <div id="event_{{ event.id }}" class="eventItem">
                        <h2 style="color:{{ color }}">{{ event.topic }}</h2>
                        <div class="smallDate"><i aria-hidden="true" class="fa fa-map-marker pr-2"></i>{{ event.location}}</div>
                        <div class="time"><i aria-hidden="true" class="fa fa-clock-o pr-2"></i>{{ event.start_Date | date:"D, jS F Y" }} {{ event.start_Time | date:"(g:i A)" }} {{ event.end_Date | date:"- D, jS F Y" }} {{ event.end_Time | date:"(g:i A)" }}

                        </div>
                        {% if event.image %}
                        <img src="/media/{{ event.image }}" alt="">
                        {% endif %}

                        {% if event.info %}
                        <div>
                            {{ event.info | safe }}
                        </div>
                        {% endif %}
                    </div>
                    <!-- end of event Story -->
                    {% endfor %}





                </div>

            </div>
        </div>

    </div>
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script  src="/static/js/mini-event-calendar.js"></script>

    <script>

        var sameDaylastWeek = new Date().setDate(new Date().getDate() + 7);
        var someDaynextMonth = new Date().setDate(new Date().getDate() + 5);

        // All dates should be provided in timestamps
        var sampleEvents = [];

        {% for event in events %}
            sampleEvents.push({
                title: "{{ event.topic }}",
                date: new Date({{ event.start_Date | date:"Y, m-1, d"  }}).getTime(),
                link: "event_{{ event.id }}",
                ids:[{{ event.id }}]
            })
        {% endfor %}


        $(document).ready(function () {

            $("#calendar").MEC({
                events: sampleEvents,
                hideMe: function () {
                    console.log("called hideMe")
                    return "called me"
                }
            });


        });

        function hideAll() {
            {% for event in events %}
                document.getElementById("event_{{ event.id }}").style.display = "none"
            {% endfor %}

        }



         function showDefault(){
             hideAll();
             {% for event in events %}

                 {%  if event.active %}
                    document.getElementById("event_{{ event.id }}").style.display = "block"
                 {% endif %}
            {% endfor %}
        }

        function showEvent(value){
            console.log(value)
            {#console.log(`showing event ${value}`)#}
            for (var i=0; i<sampleEvents.length; i++){
                {#console.log(sampleEvents[i].date)#}
                if(sampleEvents[i].date == value.date){
                    {#console.log(sampleEvents[i].link)#}
                    document.getElementById(sampleEvents[i].link).style.display = "block"
                }

            }

        }

        showDefault();

         document.getElementById("mycalendar").hideAll = function(){
            hideAll();


        }
         document.getElementById("mycalendar").showEvent = function(value){
            showEvent(value);


        }

        document.getElementById("mycalendar").showDefault = function(){
             showDefault();
        }




    </script>

{% endblock %}