<div class="footerContainer">
     <div class="footerItem">
        <div class="footerTitle">Karen Campus</div>
        <ul>
            <li><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Miotoni Road</li>
            <li><i class="fa fa-phone mr-2" aria-hidden="true"></i>+254 722 823 463</li>
            <li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>info@nairobiwaldorfschool.ac.ke</li>
        </ul>
    </div>
    <div class="footerItem">
        <div class="footerTitle">Lavington Campus</div>
        <ul>
            <li><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Mageta Road</li>
            <li><i class="fa fa-phone mr-2" aria-hidden="true"></i>+254 728 617 423	</li>
            <li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>lavington@nairobiwaldorfschool.ac.ke</li>
        </ul>
    </div>

    <div class="footerItem">
        <div class="footerTitle">Nairobi Waldorf School</div>
        <ul>
            <li><a href="/tenders" style="color: white">Tenders</a></li>
            <li><a href="/jobs"  style="color: white">Jobs</a></li>

        </ul>
    </div>
    <div class="footerItem">
        <div class="theFooterSocialMedia footerTitle">Follow</div>
        <div>

            <a href="https://www.facebook.com/nairobiwaldorfschool" target="_blank" class="socialIconFooter"><i class="fa fa-facebook white" style="font-size:30px; color: white"></i></a>
            <a href="https://www.instagram.com/nairobi.waldorf.school"  target="_blank"  class="socialIconFooter"><i class="fa fa-instagram white" style="font-size:30px; color: white"></i></a>
        </div>
        <div class="disclaimer">
            <ul>
                <li> Copyright 2018</li>
                <li class="footerLinks"> <a href="/pages/disclaimer/"> Disclaimer</a> | <a href="/pages/privacy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>

</div>
