{% extends 'base.html' %}

{% load thumbnail %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

      <div class="buttonContainer">
            <select class="gallerySelect" style="background-color: {{ color }}" id="exampleFormControlSelect1" onchange="onChange(this.value)" >
            {% for category in categories %}
              <option value="{{ category.name }}">{{ category.name|upper }}</option>
                {% endfor %}
            </select>
     </div>



    <div id="galleryContainer">



        {% for category in categories %}
        <div id="{{ category.name }}" class="galleryContainer">
        {% for item in gallery %}

            {% if item.category.name == category.name %}
                    {% thumbnail item.image "300x300" crop="center" as im %}
                        <!-- Repeat of Images -->
                        <div class="thumbnail">
                            <img src="{{ im.url }}"  onclick="setDialogImage('/media/{{ item.image }}','{{ item.description }}')"  class="zoom" width="{{ im.width }}" height="{{ im.height }}" alt="" data-toggle="modal" data-target="#imageModal">
                        </div>
                    {% endthumbnail %}
            {% endif %}

         {% endfor %}
         </div>
        {% endfor %}






    </div>


    <!-- Modal window Pop-up -->

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="dialogImage" >
                </div>


            </div>
        </div>
    </div>


    <script>
    function setDialogImage(value, description){
        document.getElementById('dialogImage').src=value;
        document.getElementById('exampleModalLabel').innerHTML = description;
    }

    </script>


    <script>


        function hideAll() {
            {% for category in categories %}
                document.getElementById("{{ category.name }}").style.display = "none"
            {% endfor %}

        }

        function showCategory(value){
                hideAll();
             document.getElementById(value).style.display = "flex"
        }

        function onChange(value){
             hideAll();
             document.getElementById(value).style.display = "flex"
        }

         hideAll();

        document.getElementById("{{ categories.0 }}").style.display = "flex"


    </script>

{% endblock %}