{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - Home</title>
    <link rel="stylesheet" href="/static/css/governance.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}
    <div id="gorvenance" class="contentBody mt-3">


        <div class="contentLayout" style="text-align: left">
            <div class="item row">
                <div class="col-md-4 col-sm-12 alignRight" >
                    <img src="/static/img/education2.jpg" alt="">
                </div>
                <div class="col-md-8 col-sm-12" style="max-width: 800px;">
                    <h2 style="color: {{ color }};"> Governance</h2>
                    <p>The Nairobi Waldorf School Trust is a private, international school. It is governed by three groups - the Board of Trustees, the Pedagogical Team, and the Management Team. </p>
                </div>
            </div>

            <div class="item row">
                <div class="col-md-4 col-sm-12 alignRight" >

                </div>
                <div class="col-md-8 col-sm-12" style="max-width: 800px;">
                    <h2 style="color: {{ color }};"> Board of Trustees</h2>
                    <p>The Board is made up of a balanced representation of faculty, administration,
                        parents, and respected members of the community. Board members are elected by the 
                        school community at the Annual General Meeting (AGM). The Board of Trustees is responsible
                        for overall school legal, financial, and administrative oversight and governance as well as
                        developing and approving school policies and human resource appointments. They meet monthly
                        throughout the school year to provide this guidance.</p>
                </div>
            </div>


            <div class="item row">
                <div class="col-md-4 col-sm-12 alignRight" >

                </div>
                <div class="col-md-8 col-sm-12" style="max-width: 800px;">
                    <h2 style="color: {{ color }};"> Pedagogical Team</h2>
                    <p>The curriculum, spirit, and pedagogical standards of the school are promoted and maintained by the Pedagogical Team (PT).
                    The function of the PT is to ensure the quality, depth, and
                        professionalism of teaching at the school. The PT determines and creates an
                        environment where teachers can nurture, protect, and support students so that they can fully
                        experience their own individuality and success.</p>
                </div>
            </div>

            <div class="item row">
                <div class="col-md-4 col-sm-12 alignRight" >

                </div>
                <div class="col-md-8 col-sm-12" style="max-width: 800px;">
                    <h2 style="color: {{ color }};"> Management</h2>
                    <p>In support of the Board of Trustees and the Pedagogical Team, the school relies on the Management Team to conduct the daily tasks of the running of the school. This group is comprised of the School Manager, School Administrator,
                        Administrative Assistants, Marketing and Public Relations Coordinator, Human Resources Coordinator, and the Finance Coordinator. This team helps to implement the policies and procedures of the school.</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}