<div>
    <div class="mainHeader" style="border-bottom-color: {{ color }}"
         >
        <div class="header">
            <img class="logo" src="/static/img/logo_waldorf_color_high.png" width="307" height="120" alt="logo">
            <!-- Include the Menu HTML -->
            {% include "menu.html" %}
        </div>
        <div class="headerBackground" style="min-height: 260px; background-image:  url({{ backgroundImage }}); background-position: center; background-repeat: no-repeat; background-size: cover;">


        <div class="headerTextFill" >
            <div class="headerText" style="background-color:{{ colorTranslucent }};">
                {{ title }}
            </div>
        </div>
</div>
    </div>
</div>