{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/curriculum.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

    <div class="curriculumContainer">
        <div class="curriculumConstraint">



          {% for class in classes %}
            <!-- Repeatable Ciriculum Item -->
            <div id="theID{{ class.id }}" class="curriculumItem">
                {% thumbnail class.image "368x230" crop="center" as im %}
                    <img src="{{ im.url }}"/>
                {% endthumbnail %}
                <h5 style="color: {{ color }}">{{ class.topic }}</h5>
                <div class="content">
                    {{ class.info | safe }}
                    <div class="curriculumFooter">
                        <div class="readMore" style="color: {{ color }}" onclick="showFullText('theID{{ class.id }}')">Read More &gt; &gt;</div>
                    </div>
                </div>
            </div>
            <!-- End of Curriculum Item -->
             {% endfor %}





        </div>
    </div>
    
    <script>
        // Function that shows and hides the readMore
        function showFullText(theID) {
            let readMeElement = document.querySelector("#"+theID+" .readMore")
            let contentElement = document.getElementById(theID)

            if(readMeElement.innerHTML === "Read More &gt; &gt;"){
                contentElement.style.height="auto"
                readMeElement.innerHTML = "&lt; &lt; Show Less"
            }else{
                contentElement.style.height="500px";
                readMeElement.innerHTML = "Read More &gt; &gt;"
            }

        }

        function makeAllSmall(){
            {% for class in classes %}
                document.getElementById("theID{{ class.id }}").style.height="500px"
            {% endfor %}
        }

      makeAllSmall();
    </script>
    <!-- Add the Booking -->
    {% include "book_appointment.html" %}
{% endblock %}