{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/history.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

    <div class="historyContainer">
        <div class="historyConstrain">


            <div class="timeline">

                <div class="left">

                    <div class="historyContentsLeft">
                        <!-- <img class="thumbnail" src="/static/waldorf/history1.jpg" width="130" height="130" alt=""> -->
                        <div class="histoContent">
                            <h3>1998 - Start of Nairobi Waldorf School</h3>
                            <p>In a small house along the Magadi Road on the outskirts of Nairobi. It was led by 3
                                teachers from Germany (Florian, Vojko and Irmgard).</p>

                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="historyContentsRight">
                        <!-- <img class="thumbnail" src="/static/waldorf/history1.jpg" width="130" height="130" alt=""> -->
                        <div class="histoContent">
                            <h3>1999 - Start of Primary School</h3>
                            <p>The following year the school moved to Mbagathi extending the kindergarten to a 1st Grade
                                primary class. The Mbagathi Steiner school continues to run successfully; now a fully
                                fledged kindergarten and primary school known as the Rudolf Steiner School, Mbagathi,
                                transitioning their children successfully into Kenyan Curriculum Secondary schools.</p>
                        </div>
                    </div>
                </div>


                <div class="left">
                    <div class="historyContentsLeft">
                        <!-- <img class="thumbnail" src="/static/waldorf/history1.jpg" width="130" height="130" alt=""> -->
                        <div class="histoContent">
                            <h3>1994 - Addition of Lavington Campus</h3>
                            <p>In 1994 a new Waldorf Kindergarten opened its doors in a beautiful residential suburb -
                                the Kileleshwa Kindergarten. This was initiated by a group of parents who had been
                                impressed by the Mbagathi kindergarten but needed something in a more central area.</p>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="historyContentsRight">
                        <!-- <img class="thumbnail" src="/static/waldorf/history1.jpg" width="130" height="130" alt=""> -->
                        <div class="histoContent">
                            <h3>2000 - The Nairobi Waldorf School</h3>
                            <p>The Nairobi Waldorf Primary school opened its doors to a grand total of 4 children, who
                                were taught by Hanne Origen - a dedicated and enthusiastic Waldorf teacher! This small
                                group soon grew and, in January 2001, another teacher, Susan Kung'u, joined the combined
                                age-group of children to help with subject teaching and extra activities. Susan was also
                                in the recently established local Waldorf teacher training programme.</p>
                        </div>
                    </div>
                </div>

                <div class="left">
                    <div class="historyContentsLeft">
                        <!-- <img class="thumbnail" src="/static/waldorf/history1.jpg" width="130" height="130" alt=""> -->
                        <div class="histoContent">
                            <h3>Currently</h3>
                            <p>Our school is proud to welcome 310 children on two campuses: Lavington and Karen. In
                                Miotoni School, Karen - now 12 years old - has a total of 71 children in the Primary
                                school and 63 children in the Kindergarten. A staff of 17, consisting of main lesson
                                teachers and subject teachers, includes a small 'extra lesson" department to strengthen
                                and guide those children who need some extra help. There are 82 children enrolled in the
                                Kileleshwa Kindergarten with 15 teaching staff.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}