{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
    <!-- Home Page has No Header -->


    <div class="homePage grey--text darker-3">
        <div class="mainHeader" style="border-bottom-color: {{ color }}">
            <div class="header">
                <img class="logo" src="/static/img/logo_waldorf_color_high.png" width="307" height="120"  alt="logo">

                <!-- Include the Menu HTML -->
                {% include "menu.html" %}
            </div>
            <div class="headerBackground" id="backgroundImage" style="height: 600px;  background-image:  url({{ backgroundImage }}); background-size: cover; background-position: center">
                <div class="headerTextFill">
                    <div class="headerText"  style="background-color:{{ colorTranslucent }}; ">
                        Learning to Love Learning
                    </div>
                </div>
            </div>

        </div>
        <div class="contentBody">
            <div class="contentLayout">
                <div class="introduction">
                    <div>
                        <h2>
                            DISCOVER A WHOLISTIC EDUCATION. <br>
                            DISCOVER THE NAIROBI WALDORF SCHOOL TRUST.
                        </h2>
                    </div>
                    <div>
                        <div class="homeIntro" style="text-align: center">
                            Our school is dedicated to educating students through positive learning experiences. <br>
                            Through the Waldorf curriculum, we aim to stimulate and nuture both the academic and creative abilities of each child.
                        </div>
                    </div>
                </div>

                <!-- Cards for Home Page -->
                <div class="splochContainer">
{#                    <!-- Cards No 1 -->#}
                    <div class="theCard" style="background-color: rgb(235,213,153);">
                        <img src="/static/img/home_card1.png" alt="">
                        <div class="cardContent">
                            <div class="cardTitle">COMMUNITY</div>
                            <p class="cardText">We take pride in our school community. A positive Waldorf experience relies on the strong connections between students, staff, and parents.</p>
                            <button type="button" class="btn cardBtn"
                                    style="background-color: rgb(204, 153, 0); color: white;" onclick="document.location='/aboutUs'" >
                                Read More
                            </button>
                        </div>
                    </div>

                    <!-- Cards No 2 -->
                    <div class="theCard" style="background-color: rgb(204, 204, 153)">
                        <img src="/static/img/home_card2.png" alt="">
                        <div class="cardContent">
                            <div class="cardTitle">ACTIVE LEARNING</div>
                            <p class="cardText">Waldorf students learn by incorporating the whole body. Children are encouraged to move and grow mentally, physically, and emotionally.</p>

                            <button type="button" class="btn cardBtn"
                                    style="background-color: rgb(139, 175, 0); color: white;"  onclick="document.location='/education'">
                                Read More
                            </button>
                        </div>
                    </div>

                    <!-- Cards No 3 -->
                    <div class="theCard" style="background-color: rgb(249, 189, 166)">
                        <img src="/static/img/home_card3.png" alt="">
                        <div class="cardContent">
                            <div class="cardTitle">HAPPY ENVIRONMENT</div>
                            <p class="cardText">We educate the head, heart, and hands of each child. Our nuturing environment ensures our students receive a wholistic education. </p>
                            <button type="button" class="btn cardBtn"
                                    style="background-color: rgb(240, 89, 32); color: white;"  onclick="document.location='/environment'">
                                Read More
                            </button>
                        </div>
                    </div>
                </div>


                <!-- Parents Testimonials -->

                <hr/>
                <div class="homeParentBody">
                    <div class="row wrap">
                        <div class="col-md-7 col-sm-12">
                            <div class="row parentsHeader">
                                <div class="col-md-6 col-sm-12">
                                    <img class="logo" src="/static/img/logo_waldorf_color_high.png"   width="307" height="120"  alt="logo">
                                </div>

                                <div  class="col-md-6 col-sm-12 testimonials">
                                    PARENTS’ TESTIMONIALS
                                </div>
                            </div>
                            <!-- Testimanials Scroll -->
                        <div class="homeBottomLeftContentBG">
                                <div class="quoteContent1">
                                    <p><span class="openingQuotes">"</span><span class="homeQuote"> {{ quote.parent_quote }}</span>
                                        <span class="closingQuotes">"</span></p>
                                    <p class="nameParent alignCenter">{{ quote.parent_name }}</p>
                                </div>
                        </div>

                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="eventHeading">Upcoming Events</div>
                                <div class="eventList">
                                        {% for event in events %}
                                        <div class="eventItemContainer" style="background-color: rgb(255, 255, 255);" onclick="location.href='/events'">
                                            <div class="dateEvent">{{ event.start_Date | date:"l, jS F Y" }}</div>
                                            <div class="eventEvent">{{ event.topic }}
                                            </div>
                                            <div class="timeEvent"><i aria-hidden="true" class="fa fa-clock-o pr-2"></i>{{ event.start_Date | date:"D, jS F Y" }} {{ event.start_Time | date:"(g:iA)" }}
                                                <span>{{ event.end_Date | date:"- D, jS F Y" }} {{ event.end_Time | date:"(g:iA)" }}</span></div>
                                            <div class="placeEvent"><i aria-hidden="true"
                                                                       class="fa fa-map-marker pr-2"></i>The
                                               {{ event.location }}
                                            </div>
                                        </div>
                                        {% endfor %}



                                    </div>
                        </div>

                    </div>



                </div>


            </div>
        </div>


    </div>

    <!-- Modal Box -->
    <div id="myModal" class="modal2">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="zclose">&times;&nbspClose</span>
          {% include "book_appointment.html" %}
        </div>
      
      </div>

    <script>

        window.onload = modalWindow();
        function modalWindow(){

       
        // Get the modal
        var modal = document.getElementById("myModal");

        var closeBtn =  document.getElementsByClassName("zclose")[0];
       

        closeBtn.onclick = function() {
            modal.style.display = "none";
        }
      

        // // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        } 
    }

        // Swap Images after 10 Seconds.
        let maximum_background_images = 4 // max images to rotate i.e. home_header_bg0.jpg, home_header_bg1.jpg, home_header_bg2.jpg,
        setInterval(function(){
            let randomIntValue = Math.floor(Math.random() * maximum_background_images)
            // set the style for the background
            document.getElementById("backgroundImage").style.background = 'url(/static/img/home_header_bg'+randomIntValue+'.jpg)';
            document.getElementById("backgroundImage").style.backgroundSize = 'cover';
            document.getElementById("backgroundImage").style.backgroundPosition = 'center';
            }, 10000);
    </script>
{% endblock %}
