{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - Home</title>
    <link rel="stylesheet" href="/static/css/admission.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

      <div id="admisionContent">
        <div class="admisionConstraint">
            <div class="row">
                <div class="col-md-3 col-sm-12 downloadsColumn" style="background-color: {{ color }};">
                    <h3>Posts</h3>
                    <hr/>
                    <ul>
                        {% for job in jobs %}
                        <!-- List of Items to iterate when downloading -->
                        <li><a href="#label_{{ job.id }}"><i class="fa fa-user mr-2" aria-hidden="true"></i>{{ job.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="col-md-9 col-sm-12 contentColumn">

                    {% if not jobs %}
                        <h4 style="color: {{ color }}">No Jobs Available</h4>
                    {% endif %}

                    {% for job in jobs %}
                    <div id="label_{{ job.id }}" class="section">
                        <h4 style="color: {{ color }}">{{job.title }}</h4>
                        {{ job.description |safe }}
                        <hr/>
                    </div>
                    {% endfor %}


                </div>
            </div>

        </div>
    </div>


{% endblock %}