<!-- Shown when page is on mobile -->
<div style="margin-right: 50px" onmouseleave="hideDropDownMenu()">


    <nav class="navBarContainer d-block d-md-none">


        <!-- Collapse button -->
        <button id="navButton" onclick="showFloatMenu()"><i class="fa fa-bars fa-1x" style="color: {{ color }}"></i></button>

        <!-- Collapsible content -->

        <div id="floatingMenu">
            <ul>
                <li onclick="goto('/home')">Home</li>
                <li onmouseover="showAboutUsFloat()"><i class="fa fa-chevron-left zeIcon" aria-hidden="true"></i>About Us</li>
                <li onmouseover="showEducationFloat()"><i class="fa fa-chevron-left zeIcon" aria-hidden="true"></i>Curriculum</li>
                <li onclick="goto('/admission')">Admission & Policies</li>
                <li onclick="goto('/events')">Calendar & Events</li>
                <li onclick="goto('/news-letter')">Media & Documents</li>
                <li onclick="goto('/gallery')">Gallery</li>
                <li onclick="goto('/contacts')">Contact Us</li>
            </ul>

        </div>

        <ul id="aboutUsFloat" >
            <li  onclick="goto('/aboutUs')">Nairobi Warldorf School</li>
            <li onclick="goto('/environment')">Environment & Facilites</li>
            <li onclick="goto('/history')">Our History</li>
            <li onclick="goto('/team')">Our Team</li>
            <li onclick="goto('/governance')">Governance</li>
        </ul>


        <ul id="educationFloat" >
            <li onclick="goto('/education')">Waldorf Education System</li>
            <li onclick="goto('/kindergarten_curriculum')">Kindergarten Curriculum</li>
            <li onclick="goto('/primary_curriculum')">Primary Curriculum</li>
            <li onclick="goto('/high_school_curriculum')">High School Curriculum</li>
        </ul>








    </nav>
    <!--/.Navbar-->

    <!-- Shown when page is on computer -->
    <div class="d-none d-md-block" id="mainMenu" >
        <ul id="menuSystem">
            <li onmouseover="hideDropDownMenu()"><a href="/home">Home</a></li>
            <li onmouseover="showAboutDropDownMenu()"><a href="#">About Us</a></li>
            <li onmouseover="showCurriculumDropDownMenu()"><a href="#">Curriculum</a></li>
            <li onmouseover="hideDropDownMenu()"><a href="/admission">Admission & Policies</a></li>
            <li onmouseover="hideDropDownMenu()"><a href="/events">Calendar & Events</a></li>
            <li onmouseover="hideDropDownMenu()"><a href="/news-letter">Media & Documents</a></li>
            <li onmouseover="hideDropDownMenu()"><a href="/gallery">Gallery</a></li>
            <li onmouseover="hideDropDownMenu()"><a href="/contacts">Contact Us</a></li>
        </ul>
        <ul id="dropDown">
            <div id="aboutUsDropMenu">
                <li><a href="/aboutUs">Nairobi Waldorf School</a></li>
                <li><a href="/environment">Environment & Facilites</a></li>
                <li><a href="/history">Our History</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/governance">Governance</a></li>
            </div>

            <div id="curriculumDropMenu">
                <li><a href="/education">About Waldorf Education</a></li>
                <li><a href="/kindergarten_curriculum">Kindergarten Curriculum</a></li>
                <li><a href="/primary_curriculum">Primary Curriculum</a></li>
                <li><a href="/high_school_curriculum">High School Curriculum</a></li>


            </div>
        </ul>

    </div>
</div>

<script>


    function showAboutDropDownMenu() {
        document.getElementById("curriculumDropMenu").style.display = "none";
        document.getElementById("aboutUsDropMenu").style.display = "block";
        document.getElementById("dropDown").style.left = "60px";
    };

    function showCurriculumDropDownMenu() {
        document.getElementById("aboutUsDropMenu").style.display = "none";
        document.getElementById("curriculumDropMenu").style.display = "block";
        document.getElementById("dropDown").style.left = "150px";
    };

    function hideDropDownMenu() {
        document.getElementById("aboutUsDropMenu").style.display = "none";
        document.getElementById("curriculumDropMenu").style.display = "none";
        document.getElementById("aboutUsFloat").style.display = "none";
        document.getElementById("educationFloat").style.display = "none";
        document.getElementById("floatingMenu").style.display = "none";

    }



    function showAboutUsFloat(){
        document.getElementById("educationFloat").style.display = "none";
        document.getElementById("aboutUsFloat").style.display = "block";
    }

    function showEducationFloat(){
        document.getElementById("aboutUsFloat").style.display = "none";
        document.getElementById("educationFloat").style.display = "block";
    }

    function showFloatMenu(){
        document.getElementById("floatingMenu").style.display = "block";
    }

    function goto(value){

        window.location.href = value
    }
    hideDropDownMenu();

</script>