{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - Home</title>
    <link rel="stylesheet" href="/static/css/governance.css">
    <link rel="stylesheet" href="/static/css/mediaDocuments.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

    <div id="gorvenance" class="mediaContent">
        <div class="mediaConstraint">
            <div class="row">
                <div class="col-md-3 col-sm-12 ">
                    <div class="downloadsColumn" style="background-color: {{ color }}" ;>


                        <h3>Latest Uploads</h3>
                        <hr/>
                        <ul><h5><strong>Newsletters</strong></h5>
                            {% for download in categoryNewsletters|slice:":3" %}
                                <!-- List of Items to iterate when downloading -->
                                <li style="list-style: none"><a href="/media/{{ download.file }}" target="_blank"><i
                                        class="fa fa-download mr-2" aria-hidden="true"></i>{{ download.title }}
                                </a></li>
                            {% endfor %}
                        </ul>


                        <hr/>
                        <ul><h5><strong>Documents</strong></h5>
                            {% for download in categoryDocuments|slice:":3" %}
                                <!-- List of Items to iterate when downloading -->
                                <li style="list-style: none"><a href="/media/{{ download.file }}" target="_blank"><i
                                        class="fa fa-download mr-2" aria-hidden="true"></i>{{ download.title }}
                                </a></li>
                            {% endfor %}
                        </ul>

                        <hr/>
                        <ul><h5><strong>Multimedia</strong></h5>
                            {% for download in categoryMultimedia|slice:":3" %}
                                <!-- List of Items to iterate when downloading -->
                                <li style="list-style: none"><a href="/media/{{ download.file }}" target="_blank"><i
                                        class="fa fa-download mr-2" aria-hidden="true"></i>{{ download.title }}
                                </a></li>
                            {% endfor %}
                        </ul>



                    </div>

                </div>


                <div class="col-md-9 col-sm-12 ">
                    <!-- Begining of Loop -->
                    <div>
                        <h4 style="color: rgb(155, 186, 31); margin-left: 20px;">Newsletters</h4>
                        <div class="mediaLayout">
                            {% for category in categoryNewsletters %}
                                <div class="mediaItem">

                                    {% if category.type == "PDF" or category.type == "OTHER" %}
                                    <!-- Document -->
                                    <div class="theDocument">
                                        <div class="theDocumentIcon">
                                            {% if category.type == "PDF" %}
                                                <img src="/static/img/PDF_file_icon.svg" alt="" width="60" height="60">
                                            {% else %}
                                                <img src="/static/img/document_icon.svg" alt="" width="60" height="60">
                                            {% endif %}
                                        </div>
                                        <div class="theDocumentLabel">
                                            <div>
                                                <div class="theDocumentTitle">
                                                    {{ category.title }}
                                                </div class="theDocumentTitle">
                                                {{ category.description | safe }}
                                            </div>
                                            <a href="/media/{{ category.file }}"
                                                                           target="_blank"
                                                                           style="color: {{ color }};">
                                            <i class="fa fa-download fa-lg downloadFileIcon" aria-hidden="true"></i>
                                                </a>
                                        </div>
                                    </div>
                                    {% elif category.type == "JPEG" %}
                                        <div class="theImage" style="background-image: url('/media/{{ category.file }}');">
                                        <div class="mediaImageExpand"
                                             onclick="setDialogImage('/media/{{ category.file }}','{{ category.title }}')"
                                             data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>

                                    {% elif category.type == "MP4" %}
                                            <video class="theVideo" controls>
                                                <source src="/media/{{ category.file }}" type="video/mp4">
                                            </video>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END oF LOOP -->
                          <!-- Begining of Loop -->
                    <div>
                        <h4 style="color: rgb(155, 186, 31); margin-left: 20px;">Documents</h4>
                        <div class="mediaLayout">
                            {% for category in categoryDocuments %}
                                <div class="mediaItem">

                                    {% if category.type == "PDF" or category.type == "OTHER" %}
                                    <!-- Document -->
                                    <div class="theDocument">
                                        <div class="theDocumentIcon">
                                            {% if category.type == "PDF" %}
                                                <img src="/static/img/PDF_file_icon.svg" alt="" width="60" height="60">
                                            {% else %}
                                                <img src="/static/img/document_icon.svg" alt="" width="60" height="60">
                                            {% endif %}
                                        </div>
                                        <div class="theDocumentLabel">
                                            <div>
                                                <div class="theDocumentTitle">
                                                    {{ category.title }}
                                                </div class="theDocumentTitle">
                                                {{ category.description | safe }}
                                            </div>
                                            <a href="/media/{{ category.file }}"
                                                                           target="_blank"
                                                                           style="color: {{ color }};">
                                            <i class="fa fa-download fa-lg downloadFileIcon" aria-hidden="true"></i>
                                                </a>
                                        </div>
                                    </div>
                                    {% elif category.type == "JPEG" %}
                                        <div class="theImage" style="background-image: url('/media/{{ category.file }}');">
                                        <div class="mediaImageExpand"
                                             onclick="setDialogImage('/media/{{ category.file }}','{{ category.title }}')"
                                             data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>

                                    {% elif category.type == "MP4" %}
                                            <video class="theVideo" controls>
                                                <source src="/media/{{ category.file }}" type="video/mp4">
                                            </video>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END oF LOOP -->
                          <!-- Begining of Loop -->
                    <div>
                        <h4 style="color: rgb(155, 186, 31); margin-left: 20px;">Multimedia</h4>
                        <div class="mediaLayout">
                            {% for category in categoryMultimedia %}
                                <div class="mediaItem">

                                    {% if category.type == "PDF" or category.type == "OTHER" %}
                                    <!-- Document -->
                                    <div class="theDocument">
                                        <div class="theDocumentIcon">
                                            {% if category.type == "PDF" %}
                                                <img src="/static/img/PDF_file_icon.svg" alt="" width="60" height="60">
                                            {% else %}
                                                <img src="/static/img/document_icon.svg" alt="" width="60" height="60">
                                            {% endif %}
                                        </div>
                                        <div class="theDocumentLabel">
                                            <div>
                                                <div class="theDocumentTitle">
                                                    {{ category.title }}
                                                </div class="theDocumentTitle">
                                                {{ category.description | safe }}
                                            </div>
                                            <a href="/media/{{ category.file }}"
                                                                           target="_blank"
                                                                           style="color: {{ color }};">
                                            <i class="fa fa-download fa-lg downloadFileIcon" aria-hidden="true"></i>
                                                </a>
                                        </div>
                                    </div>
                                    {% elif category.type == "JPEG" %}
                                        <div class="theImage" style="background-image: url('/media/{{ category.file }}');">
                                        <div class="mediaImageExpand"
                                             onclick="setDialogImage('/media/{{ category.file }}','{{ category.title }}')"
                                             data-toggle="modal" data-target="#imageModal">
                                        </div>
                                    </div>

                                    {% elif category.type == "MP4" %}
                                            <video class="theVideo" controls>
                                                <source src="/media/{{ category.file }}" type="video/mp4">
                                            </video>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- END oF LOOP -->





                </div>
            </div>
        </div>
    </div>


    <!-- Modal window Pop-up -->

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="dialogImage" width="100%">
                </div>


            </div>
        </div>
    </div>



    <script>
        function setDialogImage(value, description) {
            console.log(value)
            document.getElementById('dialogImage').src = value;
            document.getElementById('exampleModalLabel').innerHTML = description;
        }

    </script>


    <script>


        function hideAll() {
            {% for category in categories %}
                document.getElementById("{{ category.name }}").style.display = "none"
            {% endfor %}

        }

        function showCategory(value) {
            hideAll();
            document.getElementById(value).style.display = "flex"
        }

        function onChange(value) {
            hideAll();
            document.getElementById(value).style.display = "flex"
        }

        hideAll();

        document.getElementById("{{ categories.0 }}").style.display = "flex"


    </script>

{% endblock %}