{% extends 'base.html' %}
{% load thumbnail %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/team.css">
    <link rel="stylesheet" href="/static/css/mini-event-calendar.css">

{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}

    <div class="buttonContainer">
        <button class="zeButton mx-2 my-3"
           style="color: white; border: none;" type="button" onclick="showKarenCampus()">Karen
            Campus</button>
        <button class="zeButton mx-2 my-3"
           style="color: white;  border: none;" type="button"
           onclick="showLavingtonCampus()">Lavington Campus</button>
        <button class="zeButton mx-2 my-3"
           style="color: white;  border: none;" type="button"
           onclick="showAdministration()">Management</button>
    </div>



    <div class="teamContainer">
        <div class="teamConstraint">


            <div id="karenCampus"  class="potraitContainer">
                {% for member in karenTeam %}
                <!--  Repeatable Karen Campus Items -->
                <div class="teamItem">
                    {% thumbnail member.image "150x150" crop="top" as im %}
                    <img src="{{ im.url }}" alt="{{ member.first_name }} {{ member.last_name }}">
                    {% endthumbnail %}
                    <div class="teamDetail">
                        <h4>{{ member.first_name }} <br/>{{ member.last_name }}</h4>
                        <p style="color: {{ color }}">{{ member.designation }}</p>
                    </div>
                </div>
                <!-- End of Repeaet Item -->
                {% endfor %}
            </div>


            <div id="lavingtonCampus"  class="potraitContainer">
                {% for member in lavingtonTeam %}
                <!--  Repeatable Karen Campus Items -->
                <div class="teamItem">
                    {% thumbnail member.image "150x150" crop="top" as im %}
                    <img src="{{ im.url }}" alt="{{ member.first_name }} {{ member.last_name }}" width="150" height="150">
                    {% endthumbnail %}
                    <div class="teamDetail">
                        <h4>{{ member.first_name }} <br/>{{ member.last_name }}</h4>
                        <p style="color: {{ color }}">{{ member.designation }}</p>
                    </div>
                </div>
                <!-- End of Repeaet Item -->
                {% endfor %}
            </div>



            <div id="administration" class="potraitContainer">
                 {% for member in administrationTeam %}
                <!--  Repeatable Karen Campus Items -->
                <div class="teamItem">
                    {% thumbnail member.image "150x150" crop="top" as im %}
                    <img src="{{ im.url }}" alt="{{ member.first_name }} {{ member.last_name }}">
                    {% endthumbnail %}
                    <div class="teamDetail">
                        <h4>{{ member.first_name }} <br/>{{ member.last_name }}</h4>
                        <p style="color: {{ color }}">{{ member.designation }}</p>
                    </div>
                </div>
                <!-- End of Repeaet Item -->
                {% endfor %}
            </div>


        </div>
    </div>

    <script>
        function showKarenCampus() {
            hideAll();
            document.getElementById("karenCampus").style.display = "flex"
        }

        function showLavingtonCampus() {
            hideAll();
            document.getElementById("lavingtonCampus").style.display = "flex"
        }

        function showAdministration() {
            hideAll();
            document.getElementById("administration").style.display = "flex"
        }

        function hideAll() {
            document.getElementById("lavingtonCampus").style.display = "none"
            document.getElementById("administration").style.display = "none"
            document.getElementById("karenCampus").style.display = "none"
        }

        window.onload = showKarenCampus()

    </script>
{% endblock %}