{% extends 'base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/aboutus.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    {% include "header.html" %}
    <h1 style="color: {{ color }}; padding: 40px 0px;">
        {{ message }}
    </h1>


{% endblock %}