{% extends '../base.html' %}

{% block head %}
    <title>Nairobi Waldorf School - {{ flatpage.title }}</title>
    <link rel="stylesheet" href="/static/css/blog.css">
{% endblock %}

{% block content %}
    <!-- Add the Header -->
    <div>
        <div class="mainHeader" style="border-bottom-color: rgb(95, 148, 142)"
        >
            <div class="header">
                <img class="logo" src="/static/img/logo_waldorf_color.png" width="307" height="120" alt="logo">
                <!-- Include the Menu HTML -->
                {% include "menu.html" %}
            </div>
            <div class="headerBackground"
                 style="min-height: 260px; background-image:  url('/static/img/aboutus_header_bg.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">


                <div class="headerTextFill">
                    <div class="headerText" style="background-color:rgba(95, 148, 142,0.8); ">
                        {{ flatpage.title }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content of the Flatpages from the database will automaitically be rendered here -->

        {{ flatpage.content }}


{% endblock %}